{
  "presets": ["react-native-stage-0"],
  "plugins": ["syntax-flow", "transform-flow-strip-types",
    ["typecheck", {
      "disable": {
        "production": true
      }
    }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "components": "./components",
        "core": "./core",
        "views": "./views",
        "config": "./config/config.js"
      }
    }]
  ],

}
